@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "JetBrains Mono", monospace;
  max-width: 800px;
  margin: 0 auto;
  background-color: #191c1f;
  color: #f4f4f4;
  padding: 1rem;
}

h2,
.books-list {
  padding-block: 0.5rem;
}

.book-item {
  background-color: #212529;
  padding: 1rem;
  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
