@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --color-primary: #ff7a00;

  /* Gray Scale */
  --color-100: #000;
  --color-500: #f1f1f1;
  --color-900: #fff;

  --font-primary: "Inter", sans-serif;
}

body {
  font-family: var(--font-primary);
  color: var(--color-100);
  background-color: var(--color-900);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding-inline: 1rem;
}
