@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --font-primary: "Oswald", sans-serif;
  --font-secondary: "Roboto", sans-serif;

  /* GRAY SCALE */
  --color-100: #000;
  --color-900: #fff;
}

body {
  font-family: var(--font-primary);
  color: var(--color-100);
  background-color: var(--color-900);
  line-height: 1.4;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-inline: 1rem;
}
