.entryItem,
.entryItem > div {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
}

.entryItem {
  padding: 0.5rem 1rem;
  border: 1.5px solid var(--grey5);
  background: var(--grey6);
}

.entryItem > div {
  gap: 2rem;
}

.entryItem > div > span,
.delButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
}

.entryItem > div > span {
  min-width: 4.5rem;
  padding-inline: 0.875rem;
  background: var(--grey4);
  color: var(--grey2);
  text-transform: capitalize;
}

.delButton {
  padding: 0.375rem 0.5rem;
  border: 1.5px solid var(--grey5);
}

.delButton:hover {
  border: 1.5px solid var(--grey4);
  background: var(--grey5);
}

.delButton:hover svg {
  fill: var(--grey2);
}
